#octopus {
  display: block;
  margin: auto;
  position: relative;
  top: 100px;
  z-index: -1;
}

#hat {
  display: block;
  margin:auto;
  position: relative;
  bottom: 256px;
}

#glasses {
  display: block;
  margin:auto;
  position: relative;
  bottom: 256px;
}