.octopus-wrapper {
  position:relative;
}
#octopus {
  display: block;
  margin: auto;
  position: relative;
  top: 150px;
  z-index: -1;
}

#hat {
  display: block;
  position: relative;
  margin:auto;
  top: -235px;
}

#glasses {
  display: block;
  position: relative;
  margin:auto;
  top: -205px;
}